<!--/*
File : Assignment 1 Portfolio
Name : Rutvik Patel
Student ID : 301302391
Date : 06 Feb 2023
*/
-->

<%-include partials/header.ejs%>
  
<!--Main Nav Navigation-->
<%-include partials/main_nav.ejs%>
<section class="bgimage" id="home">
<div class="fullscreenDiv">
    <div class="container jumbotron jumbotron-fluid">
    <br>
    <h1 class="display-4" style="color: #ffffff; text-align: center;"><p>Welcome to my Express Portfolio Site.</p>My name is Rutvik.</h1>
    <div class="container text-light">
    <br>
    <br>
    <p style="text-align: justify; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 220%; color: #390307" >
      "My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style.”
    </p>
    <p class="lead">
      <a class="btn btn-lg" href="/about" role="button" style="background-color:  #472D30; color: white;">About Me</a>
    </p>
  </div>
    
  </div>
</div>
</section>
   
<%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%>
